@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our Bookstore</h1>
    <p class="lead">Our bookstore is a new stored that opened in the neighboor. Take advantage from our low low prices!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Authors database</h2>
        <p>
            See all the information about our authors!
        </p>
        <p><a class="btn btn-default" href="~/authors/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Discounts</h2>
        <p>See our discounts!</p>
        <p><a class="btn btn-default" href="~/discounts/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Employees database</h2>
        <p>See all the information about our stores employees!</p>
        <p><a class="btn btn-default" href="~/employees/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jobs database</h2>
        <p>See all the information about our stores jobs!</p>
        <p><a class="btn btn-default" href="~/jobs/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Publishers information</h2>
        <p>See all the details about our publishers!</p>
        <p><a class="btn btn-default" href="~/pub_info/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Publishers database</h2>
        <p>See all the information about our publishers!</p>
        <p><a class="btn btn-default" href="~/publishers/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sales information</h2>
        <p>See all the information about our sales</p>
        <p><a class="btn btn-default" href="~/sales/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Stores information</h2>
        <p>See all the information about our stores</p>
        <p><a class="btn btn-default" href="~/stores/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Authors and their books</h2>
        <p>See all the information about our authors books</p>
        <p><a class="btn btn-default" href="~/titleauthors/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Book titles</h2>
        <p>See all the information about our books</p>
        <p><a class="btn btn-default" href="~/titles/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Backup Database</h2>
        <p>Backup the database</p>
        <p><a class="btn btn-default" href="~/BackUp/BackupDatabase">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Restore Database</h2>
        <p>Restore the database</p>
        <p><a class="btn btn-default" href="~/BackUp/RestoreDatabase">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>First Report</h2>
        <p>Info about the authors that their books are first between 2 dates</p>
        <p><a class="btn btn-default" href="~/Report1/Index">Go &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Second Report</h2>
        <p>Info about the order that their orders happened between 2 dates</p>
        <p><a class="btn btn-default" href="~/Report2/Index">Go &raquo;</a></p>
    </div>
</div>